.productListContainer {
    display: flex;
    flex-wrap: wrap;
}

.productContainer {
    border: 1px solid #adadad;
    text-align: center;
    margin: 10px;
    padding: 25px;
    cursor: pointer;
}

.productImage{
    width: 200px;
    height: 250px;
}